@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    @apply bg-[#f2f4fa] overflow-y-scroll
}

@layer utilities {
    .mxw {
        max-width: 1280px;
        margin: 0px auto;
    }

    .pText {
        color: #678ce4;
    }

    .pBg {
        background-color: #678ce4;
    }

    .sBg {
        background-color: #f2f4fa;
    }

    .actionBtn {
        @apply px-5 py-1 border rounded-full pText border-[#678ce4] hover:sBg transform duration-300
    }


    .activeActionBtn {
        @apply px-5 py-1 border rounded-full pText border-[#678ce4] hover:sBg transform duration-300 sBg font-semibold
    }

    .minH {
        min-height: calc(100vh - 100px);
    }
}