@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#f3f4f6];
}

@layer utilities {
  .mxw {
    @apply max-w-[1440px] mx-auto;
  }

  .pText {
    color: #678ce4;
  }

  .pBg {
    background-color: #678ce4;
  }

  .sBg {
    background-color: hsl(225, 44%, 96%);
  }

  .actionBtn {
    @apply px-5 py-1 border rounded-full pText border-[#678ce4] dark:hover:bg-gray-700 hover:sBg transform duration-300;
  }

  .activeActionBtn {
    @apply px-5 py-1 border rounded-full pText border-[#678ce4] hover:sBg transform duration-300 sBg font-semibold;
  }

  .minH {
    min-height: calc(100vh - 100px);
  }
}
